.top{
    background-color: rgb(7, 67, 40);
}
.section2-left {
            background-image: url(images/page1_img15.jpeg);
            background-size: cover;
            background-position: center;
            height: 100vh;
        }

        .section2-right img {
            height: 100vh;
            object-fit: cover;
        }
        
        /* Adjusted for smaller screens where 100vh might be too tall */
        @media (max-width: 767.98px) {
            .section2-left,
            .section2-right img {
                height: 50vh; /* Make banner shorter on mobile */
            }
        }

        /* Specific styles for section 9 background images */
        .winter-love-bg {
            background-image: url('images/page1_img17.jpeg');
            background-size: cover;
            background-position: center;
            height: 400px; /* Set a consistent height */
        }

        .collection-img {
        width: 160px;
        height: 160px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 50%; /* Making them circular */
    }
    /* Ensure the scrollable container is set up correctly */
    .collection-scroll-container {
        /* d-flex is already present */
        /* Enable scrolling on small screens if content exceeds width */
        overflow-x: auto; 
        white-space: nowrap; /* Prevent items from wrapping to the next line */
    }
    /* Hide the scrollbar for aesthetic purposes on certain browsers */
    .collection-scroll-container::-webkit-scrollbar {
        display: none;
    }